.app {
  // common
  --app-border-color: var(--el-border-color-light);
  // body
  --app-body-background: #f6f8f9;
  --app-panel-color: white;

  // header
  --app-header-height: 60px;
  
  // aside
  --app-aside-background: #282c34;
  --app-aside-color: var(--el-color-white);
  --app-aside-width: 64px;
  
  // aside-menu
  --app-aside-menu-width: 220px;
  --app-aside-menu-scroll-bar-height: var(--app-full-height);
  --app-aside-menu-scroll-bar-color: var(--app-panel-color);
  --app-aside-menu-scroll-bar-padding: 10px;
  
  // height
  --app-full-height: 100vh;
  --app-footer-height: 50px;
  --app-content-box-height: calc(var(--app-full-height) - 
                                var(--app-header-height) - 
                                var(--app-footer-height) - 
                                40px
                              );
  

  --app-content-box-padding: 20px;
  // font
  --app-font-label-color: #808695;
  --app-font-size: 14px;
}